
<!-- Header -->
<div >

    <header id="header" style="margin-top: -15%" >
      
    </header>
<!-- Nav -->
<nav id="nav">
    <ul class="links" style="text-decoration:center">
       
        <li class=""><a href="/">Home</a></li>
        <li class="active"><a href="/">Blog</a></li>
    </ul>
    <ul class="icons">
        <li><a href="blog/create" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
</nav>
</div>