<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Blog Post</title>
</head>

<body>

    <div id="main">
        <section class="post">
            <h2> Write Blog</h2>
            <form (ngSubmit)="saveBlog()" [formGroup]="formData">
                <div class="row gtr-uniform">
                    <div class="col-12 col-12-xsmall">
                        <input type="text" id="blogName" formControlName="blogName" name="blogName" placeholder="Title"
                            required>
                        <div *ngIf="formData.controls['blogName'].invalid && formData.controls['blogName'].touched"
                            class="alert alert-danger">
                            <div *ngIf="formData.controls['blogName'].errors?.['required']" class="error">
                                Title is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-12-xsmall">

                        <textarea id="blogSummary" formControlName="blogSummary" placeholder="Summary"
                            name="blogSummary" rows="4" required></textarea>
                        <div *ngIf="formData.controls['blogSummary'].invalid && formData.controls['blogSummary'].touched"
                            class="alert alert-danger">
                            <div *ngIf="formData.controls['blogSummary'].errors?.['required']" class="error">
                                Summary is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-12-xsmall">
                        <input type="text" id="blogAuthor" formControlName="blogAuthor" name="blogAuthor" placeholder="Publisher Name" required>
                        <div *ngIf="formData.controls['blogAuthor'].invalid && formData.controls['blogAuthor'].touched"
                            class="alert alert-danger">
                            <div *ngIf="formData.controls['blogAuthor'].errors?.['required']" class="error">
                                Auther name is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-12-xsmall">
                        <textarea id="blogData" name="blogData" formControlName="blogData"  rows="8" placeholder="Blog Content" required></textarea>
                        <div *ngIf="formData.controls['blogData'].invalid && formData.controls['blogData'].touched"
                            class="alert alert-danger">
                            <div *ngIf="formData.controls['blogData'].errors?.['required']" class="error">
                                Blog Content is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-12-xsmall">
                        <input type="text" id="blogImage" name="blogImage"
                            placeholder="(Image URL) https://example.com/image.jpg" required>
                       
                    </div>

                    <div class="col-12">
                        <ul class="actions">
                            <li> <input type="submit" id="formButton" class="primary" value="Submit Post" /></li>

                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>

</body>

</html>