<section class="posts">
    <article *ngFor="let blog of blogs">
        <a (click)="gotoBlogDetails(blog.id)">
            <header>
                <span class="date">{{blog.publishedDate}}</span>
                <h2><a>{{blog.blogName}}</a></h2>
            </header>
            <a class="image fit"><img src="{{blog.blogImage}}" alt="" /></a>
            <p>{{blog.blogSummary}}</p>
            <ul class="actions special">
                <li><a class="button">Full Story</a></li>
            </ul>
        </a>
    </article>
    <!-- Footer -->
    
</section>
<div class="row">
   
    <div class="col-12 " style="text-align: center;" >
        <hr/>
        <div class="pagination" >
            <a (click)="previousPage()" *ngIf="!isFirstPage" class="previous">Prev</a>
            <div *ngFor="let in of counter(totalPages) ;let i = index">
                <a (click)="selectPage(i)" [ngClass]="{'active' : selectedPageNumber == i}" class="page ">{{i+1}}</a>
            </div>
           
           
            <a (click)="nextPage()" *ngIf="!isLastPage" class="next">Next</a>
        </div>
    </div>
    
</div>